
/*Error*/

.error {
  height: 100%;
  width: 90%;
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  background-image: linear-gradient(transparent, red, transparent);
}

/*Web contents*/

.web-contents {
  height: 100%;
  width: 90%;
  border-radius: 5px;
  background-color: white;
}

#web-container {
  display: flex;
  justify-content: center;
  height: 85%;
}

/*Music ↓↓↓*/




/*Settings ↓↓↓*/

.setting, .input-value {
  font-size: 16px;
  font-weight: bold;
}

.setting-title {
  text-align: center;
  font-size: 20px;
  text-decoration: underline;
}

/*DROPDOWN*/


/*Tabs ↓↓↓*/

#new-tab-icon {
  cursor: pointer;
}

.tab-image {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  display: inline-block;
}

.tab-contents {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 35px;
}

.tab-title {
  margin-left: 5px;
  cursor: default;
  width: inherit;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.tab-close {
  visibility: hidden;
  transition: .3s ease;
  background-color: transparent;
  position: absolute;
  cursor: default;
  margin-left: -40px;
  border-radius: 4px;
}

#tab-list-container {
  margin: 0;
  width: 95%;
  height: 6.5%;
  display: flex;
  align-items: flex-end;
}

.tab {
  opacity: 0.6;
  height: 35px;
  background: #0079c2;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 5px;
  float: left;
  border-bottom: 2px solid #222333;
  margin-right: 15px;
}

#tab-ledge {
  background-color: #0079c2;
  width: 100%;
  height: 6%;
  display: flex;
  align-items: center;
}

.tab-ledge-tool {
  margin-left: 10px;
}

#general-menu {
  cursor: pointer;
  font-size: 30px;
  margin-left: 20px;
  user-select: none;
}

/*Loading Screen ↓↓↓*/

.circle-container div {
  	transition: .5s ease;
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    user-select: none;
    margin-right: 7px;
}


.loading-screen-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #003d82;
  position: absolute;
  cursor: default;
  transition: 0.8s ease;
  z-index: 1;
}

.loading-screen-content h1 {
  font-size: 45px;
  transition: 0.8s ease;
  text-decoration: none;
  color: white;
  user-select: none;
}

.circle-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Modal↓↓↓*/

.modal {
  position: fixed; /*yes*/
  z-index: 1; /*yes*/
  padding-top: 100px; /*yes*/
  width: 100%; /*yes*/
  height: 100%; /*yes*/
  top: 0; /*yes*/
  left: 0; /*yes*/
  overflow: auto; /*yes*/
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);
  display: block;
}

.modal-content {
  background-color: #fefefe; /*yes*/
  margin: auto; /*yes*/
  padding: 20px; /*yes*/
  border: 1px solid #888; /*yes*/
  box-shadow: 0 0 10px #000000;
  width: 50%;
  transform: scale(0, 0);
  transition: .5s ease;
  opacity: 1;
  z-index: 2;
}

.modal-content *:not(.modal-close) {
  color: black;
}


.modal-close {
  color: grey;
  float: right;
  font-size: 20px;
  font-weight: bold;
  user-select: none;
}

.modal-close:hover {
  color: black;
  cursor: pointer;
}

.modal-text {
  font-size: 20px;
}

/*SEARCH BAR*/

#search-icon {
  font-size: 2em;
  display: inline-block;
  width: 0.4em;
  box-sizing: content-box;
  height: 0.4em;
  border: 0.1em solid white;
  position: relative;
  border-radius: 0.35em;
  cursor: pointer;
}
#search-icon:before {
  cursor: pointer;
  content: "";
  display: inline-block;
  position: absolute;
  right: -0.25em;
  bottom: -0.1em;
  border-width: 0;
  background: white;
  width: 0.35em;
  height: 0.08em;
  transform: rotate(45deg);
}

.search-container {
  width: 95%;
  display: flex;
  justify-content: center;
}

.parallelogram * {
  transform: skew(-20deg);
}

.parallelogram {
	width: 90%;
	height: 40px;
	transform: skew(20deg);
	background-color: #0079c2;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0 0 4px black;
}

#search-bar {
	background-color: transparent;
  color: white;
  font-size: 20px;
  width: 90%;
  border: none;
}

#search-bar:focus {
	outline: none;
}


/*input types*/


/*button types*/
.disabled {
  pointer-events: none;
  opacity: 0.6 !important;
  cursor: default !important;
}

.circle-button {
  border-radius: 500px;
  border: 2px solid white;
  font-size: 20px;
  cursor: pointer;
  padding-right: 5px;
  padding-left: 5px;
  transition: .3s ease;
  user-select: none;
}

.text-button {
  cursor: pointer;
  border: 1px solid white;
  padding: 10px;
}



.circle-button:hover {
  color: #0079c2;
  background-color: white;
}

.submit {
  transition: none;
  outline: none;
}

.submit:hover {
  opacity: 0.8;
}



/*other*/

.link {
  color: #146DD1 !important;
  text-decoration: #146DD1 underline;
  cursor: pointer;
}
.link:hover {
  color: #003d82 !important;
  text-decoration: #003d82 underline;
}

html, body {
   width: 100vw;
   height: 100vh;
   margin: 0;
   padding: 0;
}

.warning {
  color: red !important;
  font-weight: bold;
}

.unavailable *:not(.warning) {
  color: grey !important;
  pointer-events: none;
}


::placeholder {
  color: #DEDEDE;
}

iframe {
  border: none;
}

.transform-container {
  width: 1400px;
  length: 60px;
}

button {
  background-image: linear-gradient(#146DD1, #003d82);
  color: white !important;
  border: none;
  border-radius: 3px;
  width: 100px;
  height: 30px;
  transition: .5s ease;
  cursor: pointer;
}


::-webkit-scrollbar {
    display: none;
}

p {
  font-size: 20px;
}

h1 {
  text-align: center;
  text-decoration: black underline;
}

body {
  background-image: linear-gradient(#003d82, #222333);
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  overflow: hidden;
  font-family: sans-serif;
}

.menubar-menu-button {
  font-size: 16px;
}
